
  <section class="vertical-stepper">
    <div class="step completed long">
      <div class="text-container">
        <div class="title-text">اطلاعات</div>
        <div class="title-text">حساب مقصد</div>
      </div>

      <div class="stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
    </div>

    <div class="step completed short">
      <div class="text-container">
        <div class="title-text">اطلاعات ذینفع</div>
        <div class="edit-text">ویرایش</div>
      </div>

      <div class="stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
    </div>

    <div class="step completed short">
      <div class="text-container">
        <div class="title-text">جزئیات حواله</div>
        <div class="edit-text">ویرایش</div>
      </div>

      <div class="stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
    </div>

    <!-- regular -->
    <div class="step active">
      <div class="text-container">
        <div class="title-text">دوره پرداخت</div>
      </div>

      <div class="stepper">
        <div class="circle"></div>
      </div>
    </div>
  </section>
